<p= t('hello')> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p= t('email.email_try_change')> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p= t('email.email_changed')> <%= @resource.email %>.</p>
<% end %>
